In [22]:
# Your Pandas Task:
# Create a new DataFrame

import pandas as pd

data = {
    'Grade': ['X', 'X', 'Y', 'Y', 'X', 'Y'],
    'Student': ['Anna', 'Brian', 'Cathy', 'David', 'Anna', 'Cathy'],
    'Subject': ['Science', 'Science', 'Science', 'Science', 'History', 'History'],
    'Marks': [85, 78, 92, 74, 88, 90]
}

df = pd.DataFrame(data)

print(df)

# Make a pivot table with:

# index = ['Grade', 'Student']

# columns = 'Subject'

# values = 'Marks'

# aggfunc = 'mean'

# Reset the index and remove the columns name to tidy it.

df = df.pivot_table(index = ["Grade", "Student"], columns = "Subject", values = "Marks", aggfunc = "mean").reset_index()
df.columns.name = None
print("\n")
print(df)

# Melt the pivot table back to long format with columns:

# Grade, Student, Subject, Marks

# Drop missing values, reset the index, and display the final DataFrame.

df = df.melt(id_vars = ["Grade", "Student"], value_vars = ["History", "Science"], var_name = "Subject", value_name = "Score").dropna().reset_index()
df = df[["Grade", "Student", "Subject", "Score"]]
df["Score"] = df["Score"].astype(int)
print("\n")
print(df)

  Grade Student  Subject  Marks
0     X    Anna  Science     85
1     X   Brian  Science     78
2     Y   Cathy  Science     92
3     Y   David  Science     74
4     X    Anna  History     88
5     Y   Cathy  History     90


  Grade Student  History  Science
0     X    Anna     88.0     85.0
1     X   Brian      NaN     78.0
2     Y   Cathy     90.0     92.0
3     Y   David      NaN     74.0


  Grade Student  Subject  Score
0     X    Anna  History     88
1     Y   Cathy  History     90
2     X    Anna  Science     85
3     X   Brian  Science     78
4     Y   Cathy  Science     92
5     Y   David  Science     74